/************************************************

Stylesheet: Main Stylesheet

*************************************************/
// fake magento megamenu for now, delete this when can pull entire magento menu into wordpress
/* add arrows */
a {
	-webkit-transition: color 300ms ease-out;
    -moz-transition: color 300ms ease-out;
    transition: color 300ms ease-out;
}
.notice-bar {
	background: $pregel-blue;
	border-top: 4px solid $pregel-blue;
	border-bottom: 4px solid $pregel-blue;
}
i.fi-zoom-in {
	font-size: 24px;
	color: #666;
}
.notice-bar .row {
	max-width: none;
}
.notice-bar .mlp_widget {
	float: left;
	width: 100%;
	h4 {
		font-size: 1rem;
		font-family: $body-font-family;
		float: left;
	}
}
/* magento product search  */
#search_mini_form {
	float:right;
}
.form-search .action {
    width: 80px;
    float: right;
}
.form-search {
    position: relative;
    float: left;
    // width: 320px;
     height: 30px;
    .search-box {
    	float: left;
    }
}
.form-search .button {
    background: transparent;
    width: 40px;
    height: 45px;
    line-height: 2.2rem;
    border: none;
    padding: 0;
    margin: 0;
    float: left;
}
.form-search .input-text {
    box-shadow: none !important;
    background: transparent !important;
    height: 36px;
    border: none;
    margin: 0;
}
input.search-field {
&::-webkit-input-placeholder { 
  color: #4c4c4c;
}
&::-moz-placeholder { 
  color: #4c4c4c;
}
&:-ms-input-placeholder { 
  color: #4c4c4c;
}
&:-moz-placeholder { 
  color: #4c4c4c;
}
}
.form.search-form input {
	color: #4c4c4c;
}
/* end magento product search  */
#top-bar-menu .is-down-arrow > a:after {
	position: relative;
    float: right;
    margin: 0 0 0 -7px;
    padding: 0;
    top: 16px;
    right: 5px;
    content: "";
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #cecece;
    border-style: solid;
    border-width: 0 0 7px 6px;
    margin-top: -0.5px;
    top: 26px;
    margin-right: 25px;
}

#top-bar-menu li ul.submenu li a {
	padding-left: 4px;
	border-left : 4px solid #fff;
	&:hover {
	border-left: 4px solid #5091cd;
	}
}
.arrow-box {
 	margin-top: 9px;
    position: relative;
}
/* these are for the top arrow */
.arrow-box:before {
    content: "";
    width: 100%;
    height: 20px;
    background: rgba(255,255,255,0);
    position: absolute;
    top: 0;
    left: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
#top-bar-menu .is-down-arrow.is-active > a:before {
    content: "";
    position: absolute;
    top: 62px;
    float: left;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #cecece;
    border-style: solid;
    border-width: 6px;
    width: 0;
    height: 0;
    margin-left: 32px;
    z-index: 101;
}
/* target products dropdown - currently menu-item 181 */
#top-bar-menu li.menu-item-181 ul.submenu {
	&.first-sub {
		left: -150px;
	}
	ul {
		line-height: .6rem;
	}
	.menu > li > a {
		padding: .2rem .2rem .2rem .4rem;
	}
	> li > a {
		padding: .2rem .2rem .2rem .8rem;
	}
	width: 1200px;
	padding: 4px 10px 10px 0;
	line-height: 1rem;
	li a {
		font-family: $header-font-family;
		font-size: 1.8rem;
   		color: #444;
   		font-weight: normal;
   		border-left: none;
   		&:hover {
   			color: $pregel-light-blue;
   		}
	}
	> li {
		  display: inline-block !important;
    	  vertical-align: top;
          width: 18% !important;
          z-index: 1;
          border-left: 1px solid #cecece;
	}
	> li:first-child {
		border-left: none;
		padding-left:0;
	}
	li ul li {
		width: 100% !important;
	}
	li ul li a {
		font-size: 1rem;
		line-height: 1rem;
		color: #999;
		font-weight: normal;
		border-left : 4px solid #fff;
		&:hover {
			color: #777;
			border-left: 4px solid $pregel-blue;
		}
	}
}
/* end fake magento megamenu */
/* testing - for the drop down cart in menu from magento */
.top-cart-right {}
#menu-main-right-1 {
	float:left;
}
#wp-top-cart {
	float:left;
}
ul#wp-top-cart li a {
	padding: 0.5rem 1.5rem 0.2rem;
}
.bg-box {
    position: relative;
    display: inline-block;
    background: #f4f4f4;
    margin: 0;
    padding: 14px;
    width: 100%;
}
.cart-dropdown {
    right: 0 !important;
    overflow: hidden;
    padding: 10px;
}
.cart-dropdown .dropdown-title {
    position: relative;
    margin: 0;
    padding: 0 14px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #f2f2f2 !important;
    font-size: .875rem;
    font-weight: 600;
    color: #000000;
}
.cart-dropdown .subtotal {
    line-height: 36px;
    margin: 0;
    color: #999999;
    font-size: .75rem;
}
.cart-dropdown .subtotal .price {
    font-size: 1rem;
    font-weight: 600;
    color: #333333;
    padding: 0 0 0 4px;
}
.cart-dropdown li a.button.sign-in {
    position: absolute;
    height: 32px;
    font-size: 1rem;
    line-height: 32px;
    padding: 0 32px;
    margin: 0;
    top: 14px;
    right: 14px;
}
#top-bar-menu .cart-dropdown li a.button.sign-in {
	color: #fff;
}
.top-bar .sup {
    display: block;
    position: absolute;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 300;
    top: 0;
    width: 120px;
    text-transform: none;
}
.top-bar span + .sup {
    left: 51px;
}
.cart-dropdown .arrow-box {
    width: 322px !important;
    margin-top: 9px;
    padding: 0 0 8px;
}
.fi-shopping-cart {
	color: #cecece;
	font-size: 24px;
	margin-right: 4px;
}
/* end drop-down cart from magento */
/*********************
GENERAL STYLES
*********************/
/*********************
LINK STYLES
*********************/
a, a:visited {
/* Mobile tap color */
    &:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}
/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	/* Removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
	/* Add alternate header font */
	&.alt {}
}
h1, .h1 {}
h2, .h2 {}
h3, .h3 {}
h4, .h4 {}
h5, .h5 {}
/*********************
SLIDER STYLES
*********************/
.slide-head h2 {
	font-size: 90px;
	color: #fff;
	font-family: $header-font-family;
    letter-spacing: 0.0625em;
}
.slide-subhead h3 {
	font-size: 36px;
	color: #fff;
}
/*********************
HEADER STYLES
*********************/
.admin-bar .top-bar.sticky.is-stuck {
	margin-top: 30px !important;
}
.header {
	position: relative;
	z-index: 9999;
	ul.off-canvas-list li {
		list-style: none;
	}
	.top-bar {
		width: 100%;
		height: 100px;
		border-bottom: 1px #eee solid;
		.split-left, .split-right {
			padding-top: 15px;
		}
	}
	.logo {
		 margin: 15px auto 0;
		img {
			display: block;
            margin: 0 auto;
		}
	}
}   
/*********************
NAVIGATION STYLES
*********************/
//the mobile icon
.menu-icon::after {
    background: #6ba0d3;
    box-shadow: 0 7px 0 #6ba0d3, 0 14px 0 #6ba0d3;
}
.menu-icon:hover::after {
    background: #deeaf7;
    box-shadow: 0 7px 0 #deeaf7, 0 14px 0 #deeaf7;
}
/* the mobile header */
.top-bar-right{
	@include breakpoint('medium') {
		width: 100%;
	}
	 ul.menu li {
	width: 50%;
	&.m-menu-icon {
		text-align: right;
		@include breakpoint('medium') {
			float: right;
		}
	}
	&.mobile-logo {
		@include breakpoint('medium') {
			float: left;
		}
		 img {
	width: 150px;
	padding: 20px;
	@include breakpoint('medium') {
		height: 90px;
	}
	}
}
}
}
/* the mobile menu  */
.off-canvas ul li {
	border-bottom: 1px solid #fff;
}
.off-canvas ul li:hover {
	background: $pregel-mid-blue;
	}
.off-canvas .is-drilldown-submenu-parent > a::after {
	border-color: transparent transparent transparent #ffffff;
}
.off-canvas .js-drilldown-back::before {
	border-color: transparent #ffffff transparent transparent;
}
.off-canvas {
	background: #6ba0d3;
	color: #FFF;
	height: 100%;
}
.off-canvas a {
	color: #FFF;
}
.is-accordion-submenu-parent > a::after {
	border-color: #FFF transparent transparent;
}
#mobile-wp-prod-menu .menu > li > a {
    display: block;
    padding: 0.2rem 1.7rem;
    line-height: 1;
}
.off-canvas >ul > li {
	border-bottom: 1px solid #FFF;
}
li.group-title {
	list-style: none;
	background: #deeaf7;
	color: #636466;
}
ul.mobile-menu-divider {
	margin-left: 0;
}
.is-drilldown-sub {
	background: #6ba0d3;
	}
.off-canvas .form-search label {
	color: #FFF;
}
.off-canvas .form-search input {
	color: #FFF;
}
.off-canvas .form-search .action {
	width: 40px;
}
.off-canvas .form-search .action i {
	color: #FFF;
	}
ul.top-simple-menu li {
	padding: 0 8px;
}
/* the search box */
  .off-canvas .search-form input {
  	background: transparent !important;
  	width: 80%;
  }
  .search-form {
  	margin-bottom: 12px;
  	.search-box {
  		border-bottom: 0.5px solid #f4f4f4;
  	}
  	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #f4f4f4;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: #f4f4f4;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: #f4f4f4;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: #f4f4f4;
	}
  }
/* the top bar */
ul#menu-secondary-top-bar {
	background-color: transparent;
	li a {
	padding: 0.3rem 1.5rem 0.2rem;
	}
}
ul#wp-top-cart {
	background-color: transparent;
}
form.search-form input {
	height: 30px;
	float:left;
}
form.search-form .button {
	height: 36px;
}
/* desktop secondary top nav */
ul.loc-menu {
	margin-left: 40px;
	list-style: none;
	text-align: left;
	li.loc-title {
		font-weight: 700;
		color: $pregel-blue;
	}
}
.loc-icon {
	padding-right: 10px;
}
.secondary-top-bar-left {
	width: 50%;
	float:left;
}
.secondary-top-bar-right {
	float:right;
}
.logged-in .secondary-top-bar-search {
	top: 30px;
	}
.secondary-top-bar-search {
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	padding-top: 4px;
	form {
		input {
			display: inline-block;
			width: 150px;
			float: left;
			height: 30px;
		}
		button.search-submit {
			padding: .4rem;
		}
	}
}
ul.top-simple-menu {
	list-style: none;
	text-align: left;
	a {
		padding:0;
	}
	display: inline-block;
	padding: 0 30px;
	vertical-align: top;
	ul {
		display: block;
		li {
			display: block;
			font-weight: 400;
			padding: 0;
    		width: 100%;
		}
	}
}
#second-top-bar-menu {
	position: relative;
	z-index: 99999;
	background-color: $pregel-blue;
    background-position: right 30px top 10px;
    background-repeat: no-repeat;
	border-bottom: 10px solid $pregel-blue;
	height: 45px;
	padding: 6px 0;
    -webkit-transition: height 0.1s ease-out 0.1s;
    -moz-transition: height 0.1s ease-out 0.1s;
    transition: height 0.1s ease-out 0.1s;
}
#menu-secondary-top-bar .submenu li a {
	color: #444;
	}
/* make room for the admin bar */
.admin-bar span.nav-close {
	top: 40px; 
	}
span.nav-close {
 	position: absolute;
    width: 100px;
    right: 0;
    top: 0;
    height: 30px;
    z-index: 1;
    cursor: pointer;
}
#second-top-bar-menu a {
  color: $pregel-light-blue;
  font-size:1em;
  line-height: 1.25em;
  text-decoration: none;
}
#second-top-bar-menu a:hover {
  opacity: 1;
}
#top-bar-drawer {
  display: block;
  width: 95%;
  color: $pregel-light-blue;
  font-size: 1em;
  text-align: center;
  text-shadow: none !important;
}
#top-bar-drawer a {
   color: $pregel-light-blue;
   font-size: 1.0em;
   text-decoration: none;
   opacity: 0.5;
   text-shadow: none;
}
#top-bar-drawer a:hover { 
   opacity: 1;  
}
#titlebar label span {
  color: #fff;
  font-size: 1rem;
  opacity: 0.5;
  font-weight: 700;
}
/* end desktop secondary top nav */
/* the main nav */
.top-bar {
	.title-area {
		z-index: 1;
	}
} 
#top-bar-menu {
	a {
		font-family: $header-font-family;
		font-size: 1.5rem;
		// Only affects medium screens and smaller
 		 @include breakpoint(large down) { 
 		 	font-size: 1.25rem;
  		}
		color: #444;
		text-transform: uppercase;
		&:hover {
		/* testing reversed menu colors */
		color: $pregel-mid-blue;
		}
		&:active {
		/* testing reversed menu colors */
		color: $pregel-mid-blue;
		}
	}
	.submenu a {
		font-family: $header-font-family;
		font-size: 1rem;
	}
	&.sticky.is-stuck {
		#wp-top-cart ul li a {
			border: none;
			padding: 0.2rem 1.7rem;
		}
        .is-down-arrow.is-active > a:before  {
			top: 30px;
		     }
			height: 50px;
			background: #fff;
			ul li a {
				font-size: 1rem;
				padding: 0.2rem 1.7rem;
			}
			ul li ul li a {
				font-size: 1rem;
				padding: 0.7rem 1.7rem;
			}
			ul li.menu-item-181 ul li a {
				font-size: 1.8rem;
				padding: 0.7rem 1.7rem;
			}
			ul li.menu-item-181 ul li ul li a {
				font-size: 1rem;
				padding: 0.7rem 1.7rem;
			}
			
			.logo {
				margin-top: 0;
				img {
				height: 40px;
				}
		    }
			.split-left, .split-right {
			padding-top: 4px;
		}
		}
}


.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

ul.dropdown.menu > li > a {
	/* padding: 0.7rem 1.7rem 2.3rem; */
	/* padding: 0.7rem 1.7rem 1.7rem; */
	padding: 0.8rem 1.5rem 1.7rem;
}
.dropdown.menu .submenu.first-sub {
	left: -50px;
	}
/* end the main nav */
.submenu {
    &:not(.js-dropdown-nohover) > .is-dropdown-submenu-parent:hover > &,
    &.js-dropdown-active {
    animation-duration: .5s;
    @include mui-animation(slide(in, down), fade(0, 1));
    }
}
/* this is the product navigation bar */
#product-bar {
	background: #c7dff3;
	a {
		color: $pregel-blue;
		&:hover {
			color: $white;
		}
	}
	.link {
		height: 160px;
		background-repeat: no-repeat;
		background-position: left;
	    padding-left: 130px;
	    border-right: 3px solid $white;
	}
	.gelato {
		background-image: url(../images/icon-test.png);
	}
	.pastry {
		background-image: url(../images/pastry-test.png);
	}
	.froyo {
		background-image: url(../images/froyo-test.png);
		h3 {
			padding-top: 30px;
			span {
			font-size: 1.8rem;
			line-height: 1rem;
			}
		}
	}
	.bev {
		background-image: url(../images/froyo-test.png);
		border-right: none;		
	}
	h3 {	
		padding-top: 60px;
		font-size: 3rem;
		line-height: 2.5rem;
	}
}
/*********************
HOME PAGE STYLES
*********************/
.homeGrid {}
.home-grid-row {
	max-width: 1440px;
}
#homeGridOne {}
#homeGridTwo {}
#homeGridThree {}
#homeGridFour {}
#homeGridFive {}
#homeGridSix {}
#gelato-shop {
	height: 150px;
    overflow: hidden;
    background: url("../images/Beverages_HeaderGraphic.jpg");
    border-top: $white 4px solid;
}
/* Caption component for image widget - homepage */
.pg-caption {
    position: relative;
    overflow: hidden;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
            img {
            	display: block;
			    min-width: 100%;
			    max-width: 100%;
			    height: auto;
				}
	  h4.widgettitle {
	  	background: $pregel-blue;
	  	color: #fff;
	  }
     }
.pg-caption::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
    border: white solid 2px;
}
.pg-caption:hover::before {
    background: rgba(0, 0, 0, .5);
}
.widget_sp_image {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}
.pg-text-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2px 2px; 
    color: white;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}
.pg-caption:hover .pg-text-overlay {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
.pg-text-overlay .widgettitle {
	margin-top: 10px;
	padding-left: 1rem;
    -webkit-transform: translateY( -webkit-calc(-100% - 10px) );
            transform: translateY( calc(-100% - 10px) );
    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}
.pg-caption:hover .pg-text-overlay .widgettitle {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
/* below may no longer be needed - switching to grid layout */
.featured {
	color: #fff;
	a {
		color: #fff;
	}
	&.dark {
		background: #302d2e;
	}
	&.light {
		background: #b1ada4;
	}
	&.med {
		background: #8e9093;
	}
	h4 {
		font-size: 3.5rem;
		line-height: 3rem;
	}
	.featured-text {
		padding-top: 40px;
		padding-right: 40px;
	}
	.featured-image {
		padding: 0;
	}
}
.banner {
	.banner-bg {
		background: url(../images/hp-banner/test.png) no-repeat;
		height: 600px;
	}
	&.med {
		background: #8e9093;
	}
	.banner-txt {
		color: #fff;
		margin-top: 330px;
		h6 {
			font-size: 48px;
			padding-left: 30px;
		}
	}

}
/*********************
ABOUT US PAGE STYLES
*********************/
/* ABOUT US Content Sections  */
/* Container div Section for About Us section */ 
#pg-about-content {
     #pg-about-title-banner-image {
     	padding-top: 6rem;
     }
     #pg-about-content-row {
     	padding-top: 6rem;
     }
     #pg-about-body-banner-image {
     	padding-top: 3rem;
     }
}
/* Alternating container div Section color */ 
.alt-background-light-blue {
background-color: $pregel-light-blue;
}
/* About Me Title section */
#pg-about-banner {
	background-image: url("../images/Beverages_HeaderGraphic.jpg");
	background-repeat: no-repeat;
	background-size:     cover;                     
    background-position: center center; 
    min-height: 300px;
    h1{
        padding: 5rem;
        font-size: 5em;
    }
}
#pg-about-content-row {
	padding-top: 2em;
	h2{
		color: $pregel-blue;
	}
}
/* About Me section 1 */
#pg-about-section-one {
	min-height: 300px;
}
/* About Me section 2 */
#pg-about-section-two {
	min-height: 300px;
}
/* Testimonial Picture */
#pg-about-testimonial {
	min-height: 275px;
	.pg-testimonial-container {
		.pg-circle-image  {
			border-radius: 50%;
			height: 200px;
			width: 200px;
			border: $pregel-blue solid 2px;
			max-height:100%;
		    max-width:100%;
		    display:block;
		    margin:0 auto;					
		}	
    } 
}
/* About Me section 3 */
#pg-about-section-three {
	min-height: 300px;
}
/* Body Banner Break Section  */
.parrallax {
  height: 300px;
  background-image: url("/wp-content/themes/pregel/assets/images/Variegates_Toppings_headerGraphic.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  	h1 {
  		color: $pregel-blue;
  		font-size: 3.5em;
  		line-height: 300px;
  		font-weight: 700;
  		text-align: center;
  		text-transform: uppercase;
  		text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  	}
}
.parrallax-container {
	width: 100%;
	margin: 0 auto;
}
/* About Me section 4 */
#pg-about-section-four {
	min-height: 300px;
}
/*********************
Career Opportunties PAGE STYLES
*********************/
#pg-job-content-row {
	padding: 2em 2em;
}
#job-post-container {
	margin-bottom: 2em;
	h2 {
		color: $pregel-mid-blue;
	}
}
#job-post-container:hover {
	h2 {
		color: $pregel-blue;
	}
}
/* This is to keep the last job post from floating right */
#pg-jobs-post-section {
	.columns:last-child:not(:first-child) {
	float:none !important;  
   }
}
/*********************
SINGLE JOB POST PAGE STYLES
*********************/
/*********************
NEWS FEED PAGE STYLES
*********************/
@-webkit-keyframes newsbanner {
	    0% {
      opacity: 0.7;
    }
    5% {
      opacity: 1;
    }
    100% {
        transform: scale3d(1.25, 1.25, 1.25) translate3d(-90px, -20px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
}
/*Button Font Weight*/ 
.button {
	font-weight: bold;  
}
#featured-image-banner-container {
	position: relative;
    overflow: hidden;
    height: 300px;
    @include small-tablet {
		height: auto !important;
    }
    @include small-screen {
	    height: auto !important;
    }
    #featured-image-banner {
    	-webkit-animation: newsbanner 20s forwards;
    	 animation: newsbanner 20s forwards;
	    @include small-tablet {
	    	-webkit-animation: none !important;
	    	 animation: none !important;
	    }
	    @include small-screen {
	    	-webkit-animation: none !important;
	    	 animation: none !important;
	    }	 
    } 
}
#featured-article-title-container {
    background-color: $pregel-light-blue;
}
#pg-news-bottom-section {
	margin-top: 1em;
}
#pg-news-feed-sidebar-container {
	border-top: 2em $pregel-blue solid;
	background-color: $pregel-light-blue;
	margin-top: 1em;
	.widgettitle {
		display: none;
	}
	.search-field {
		margin-top: 1rem;
		padding-top: .85rem;
	}
	.screen-reader-text {
		display: none;
	}
	.search-field:focus {
		border-color: $pregel-mid-blue;
	}
	.postform {
		outline-color: $pregel-mid-blue;
	}
}
#news-grid-feed {
	margin-top: 1em;
}
#pg-news-cards {
	margin-bottom: 2em;
	overflow: hidden;
	transition: 400ms all ease-out;
	max-height: 325px;
    min-height: 325px;
    .entry-content {
    	p a {
    		background: $pregel-mid-blue;
    	}
    	p a:hover {
    		background: $pregel-blue;
    	}
    }
	img {
		max-height: 150px;
        min-height: 150px;
	}
    .article-header {
    	h3 {
		font-size: 1em;
		}
	}
}
#pg-news-cards:hover { 
    box-shadow: 5px 5px $pregel-blue;
    .featured-image{
		background-color: black;
		border-style: inset;
        border: $pregel-light-blue solid 2px; 
    }
    img {
		opacity: 0.8;
    }
}
/* Single Article Page */
#article-image-banner {
	img {
		max-height: 400px;
	}
}
/*********************
LOCATIONS PAGE STYLES
*********************/
#pg-locations-section {
	min-height: 300px;
	#location-links {
		padding-top: 2em;
	}
	#region-title {
		border-bottom: $pregel-blue solid 2px;
	}
}
/*********************
EVENTS PAGE STYLES
*********************/
#tradeshows-title {
	border-bottom: $pregel-blue solid 2px;
}
#single-event-container {
	margin: 2.5em 0 2.5em;
}
#event-title {
	border-bottom: $pregel-blue solid 2px;
}
#event-img-container {
	padding-top: 3em;
}
#event-description {
	padding-top: 3em;
}
/*******************  **
VIDEO PAGE STYLES
*********************/
#playlist-title {
	border-bottom: $pregel-blue solid 2px;
}
.mxyt-playlist-item {
	box-shadow: none;
}
.mxyt-title {
	background: $pregel-mid-blue;
	height: 50px;
	font-family: "futura-pt", sans-serif;
	h3 {
		color: $white;
	}
}
.mxyt-title:hover {
	background: $pregel-blue;
}
.mxyt-description {
	display: none !important;
}
.mxyt-more .mxyt-button {
	border-top: $pregel-blue 1px solid;
	color: $pregel-blue;
	padding: 2px 100px 0;
	font-size: 1.25rem;
	font-family: "futura-pt", sans-serif;
}
/*******************  **
POSTS & CONTENT STYLES
*********************/
#content {
	#inner-content {
		padding: 1rem 0rem;
	}
}
.single-title,
.page-title {}
.single-title {}
.page-title {
/* Remove Foundation vcard styling from author page titles */
	.vcard {
		border: 0px;
		padding: 0px;
	}
}
.archive-title {}
/* Post meta   */
.byline {
	color: #999;
	time {}
}
/* Entry content   */
.entry-content {
	img {
		max-width: 100%;
		height: auto;
	}
	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}	
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}
} 
.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;
/* Images inside wp-caption */  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}
	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
} 
/* Add Foundation styling to password protect button */
.post-password-form input[type="submit"] {
	@include button;
}
/* Blog section, custom archive grid - testing image over background text */
.blog .archive-grid .post {
	padding: 30px;
	color: #fff;
	a {
		color: #fff;
	}
}
/*********************
IMAGE GALLERY STYLES
*********************/
	.gallery {
		dl {
		a {}
		img {}
		}
		dt {}
		dd {}
} 
/* Gallery caption styles */
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}
/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
	.pagination {
		.current {
			color: $white;
		}
	}
}
/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}
#respond {
	ul {
		margin-left: 0px;
	}
}
.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;
		&:last-child {
			margin-bottom: 0;
		}
		ul.children {
			margin: 0;
			li {}
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* Change number for different depth  */ 
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}
		}
	}
	li[class*=depth-] {
		margin-top: 1.1em;
	}
	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}
	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}
	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}
	/* General comment classes */  
	.alt {}
	.odd {}
	.even {}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}
	/* vcard   */
	.vcard {
		margin-left: 50px;
		cite.fn {
			font-weight: 700;
			font-style: normal;
			a.url {}
		}
		time {
			float: right;
			a {
				color: #999;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		img.photo {}
		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}
	} /* end .commentlist .vcard   */
	/* comment meta   */
	.comment-meta {
		a {}
	}
	.commentmetadata {
		a {}
	}
	/* comment content   */
	.comment_content {
		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}
	} /* end .commentlist .comment_content  */ 
	/* comment reply link   */
	.comment-reply-link {
		float: right;
		&:hover,
		&:focus {	
		}
	} /* end .commentlist .comment-reply-link  */ 
} /* end .commentlist */  
/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;
	form {
		margin: 0.75em 0;
		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;
			label,
			small {
				display: none;
			}
		}
		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;
			&:focus {
				background: #fff;
			}
			/* form validation */  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}
		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}
		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}
	}
}
/* comment submit button   */
#submit {}
/* comment form title  */ 
#comment-form-title {
	margin: 0 0 1.1em;
}
/* cancel comment reply link */  
#cancel-comment-reply {
	a {}
}
/* logged in comments   */
.comments-logged-in-as {}
/* allowed tags */  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}
/* No comments */  
.nocomments {
	margin: 0 20px 1.1em;
}
/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {}
#searchsubmit {}
.widgettitle {}
.widget {
	ul {
		margin: 0;
		li {
			list-style: none;
			&:first-child {}
			&:last-child {}
			a {}
			/* deep nesting  */ 
			ul {}
		}
	}
}
/*********************
FOOTER STYLES
*********************/
.footer {
	background: $white;
	color: $pregel-blue;
	border-top: $pregel-blue solid 4px;
	padding: 1rem 0;
	#subsidiaries-row {
		height: 50px;
		#global-button {
			background: white;
    		color: $pregel-blue;
    		border: $pregel-blue solid 1px;
    		padding: .25rem;
		}
		#globe {
			padding-left: 0px;
    		padding-right: 0px;
		}
		#global-img {
			width: 40px;
			height: 40px;
			margin: 0 auto;
 			background-image:url(/wp-content/themes/pregel/assets/images/GLOBE_ICON-05.png);
 			background-size: cover;
 			background-position: center;
 			background-repeat: no-repeat;
 		}
 		#global-text {
 			margin: 13px auto;
 			font-size: 0.8rem;
    		padding-left: 0px;
    		padding-right: 0px;
 		}
	}
	.call-to-action-row {
		height: 100px;
	}
	#footer-input {
		background: $pregel-light-blue !important;
	}
	#menu-footer {
		display: inline-block;
		a {
		color: $pregel-blue;
		font-family: $header-font-family;
		font-size: 16px;
	}
	}
	ul.footer-social {
		list-style: none;
		li {
			display: inline-block;
			a {
			font-size: 3em;
			color: $pregel-blue;
		    }
		    a:hover {
		    	opacity: 0.9;
		    }
	   }
	}
	ul.footer-links {
		list-style: none;
		li {
			display: block;
			a {
			font-size: 1.25em;
			color: $pregel-blue;
		    }
		    a:hover {
		    	opacity: 0.9;
		    }
	    }
	}
}
	#bottom-footer {
		background: $pregel-mid-blue;
		color: $white;
		#footer-contact-info {
			font-size: small;
			margin: .5rem 0;
			p {
				border-right: white solid 1px;
				margin-bottom: 0.5rem;
			}
			p:last-child {
				border-right: none;
			}
		}
		#copyright {
			font-size: small;
		}
	}
/*********************
MEDIA BREAKS
*********************/
@media (max-width: 1300px) {
		h3 {
		    font-size: 1.9rem;
		}
		#product-bar h3 {
			font-size: 1.9rem;
		}
}			
@media (max-width: 1024px) {
	#product-bar .link {
			border: $white solid 1px;
		}
	#product-bar h3 {
		font-size: 2rem;
	}
 	#call-to-action-row {
		h4 {
			font-size: 1.5rem;
		}
    }
	#right-footer-links {
		display: none;
	}
	#bottom-footer {
		#footer-contact-info {
		p {
			border-right: none;
		}
	  }
	}	
}
@media (max-width: 768px) {
	#product-bar .link {
		padding-left: 115px;
	}
	#call-to-action-row {
		input {
			font-size: .9rem;
		}
    }
    ul.footer-social {
		li {
			a i {
			font-size: 2.25rem;
		    }
	   }
	}
}
@media (min-device-width: 512px) and(max-width: 650px) {
	#subsidiaries-row #global-text {
		font-size: .75rem !important;
		margin: .5rem auto !important;
	}
	#call-to-action-row {
		h4 {
			font-size: 1.1rem;
		}
	}
}
@media (max-width: 530px) {
	#product-bar .link {
		padding-left: 115px;
	}
	#product-bar h3 {
		font-size: 1.3rem;
	}
	#call-to-action-row {
		h4 {
			font-size: 1.25rem;
		}
		input {
			font-size: 1rem
		}
    }
    ul.footer-social {
		li 
		{
			margin: auto 5px;
			a i {
			font-size: 3rem;
		    }
	   }
	}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
	#product-bar .link {
		padding-left: 50px;
	}
	#subsidiaries-row #global-text {
		font-size: .8rem !important;
		margin: .5rem auto !important;
	}
	#footer-button-column {
		padding: 0;
	}
	ul.footer-social li a i {
		font-size: 2.25rem;
	}
}
/*********************
FOUNDATION STYLES
*********************/
/*********************
PLUGIN STYLES
*********************/
/* Makes Gravity Forms play nice with Foundation Form styles */
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}