/* CSS Document AUSTIN's CSS */
body {}
.header-container {background-color:transparent;}
.footer-container {background-color:transparent !important;}
.col3-layout .toolbar { background:#fafafa; padding:6px;}

.toolbar .toolWrapper { float:right; width:500px;}

.toolbar {border-bottom: 3px solid #e4e4e4;}

.toolbar .pager {background-color:transparent; border:none; }

.header-topbar { height:43px;}

.quick-access, .form-search {padding-top:7px !important;}
.atoplinks {padding-top:30px;}

.atoplinks span {display:inline-block; vertical-align:middle; padding-left:20px; }
.atoplinks span a img {vertical-align:middle !important; padding:0 3px;}
#header-cart {width:auto;}

#cart-content {margin-left:90px; border-radius:8px; padding:10px 18px; position: absolute; top:60px; box-shadow: 0 0 10px rgba(0, 0, 0, .2); }

.agsearch {margin:0 auto; width:450px; float:none !important; padding-top:10px;}

.toolbar-bottom .toolbar {border-top: 3px solid #e4e4e4;}

.category-image {margin-bottom:0 !important;}


.keepshopping {vertical-align:middle; float:left; padding-top:10px;}
.keepshopping a {color:white !important; margin-right:35px; font-weight:normal !important; vertical-align:middle;}
.keepshopping a img {vertical-align:top; margin-right:3px;}
.keepshopping a:hover {color:#fdfdfd !important; text-decoration:none; opacity:.9;}

.tomanyitems {font-size:11px; }
.tomanyitems span {font-size:18px; color:red;}

.nocheckout {padding:10px;}
.welcome-msg a {color:white;}
.header .form-search {background:none !important;}
.footer-container {padding-top:5px !important;}
.agfootlinks a {color:white; margin-right:11px;}
.agfootlinks a:hover {color:white;}
#header-cart .head h4, #header-cart .head h4 a {color:#333;}
.footer {padding-bottom:5px; text-align:center;}
.footerl {float:none;}

.agcheckout {padding:5px 15px; background-color:#005284; color:white; text-decoration:none; border-radius:3px; margin-top:10px; display:inline-block;}
.agcheckout:hover {color:#fff !important; text-decoration:none; background-color:#0081CE; }

.product-details .product-name {width:150px;}
li.item .product-image {width:auto !important;}
.agitems {padding:0 !important;}

#abhp {margin:-16px 0 0 0; padding:0; }
#abhp h2 {padding:0; margin:0; border:0;}
#abhp img {padding:0; margin:0; border:0;}
#topslider {width:100%; background:#F8F2F1; height:340px; text-align:center; border-bottom:1px solid #ccc;}
#mcontent {width:1275; margin:0 auto;}
#mcontent div {text-align:center;}
#popularproducts, #populardownloads {width:1275px !important; margin:0 auto;}