/**
 * Custom CSS stylesheet. Add here your custom styles.
 *
 * Enable this file from the backend:
 * System -> Configuration -> Theme Setup -> Custom CSS -> Load Custom CSS File
 * 
 * Please refer to the User's Guide for more information.
*/
/*Consumables product alert*/
/*#pg-alert {
	min-height: 50px;
	background: #bada55;
}*/

/*this hides in stock, out of stock messages*/

/*.availability {
	display: none !important;
}
.availability-only {
	display: none !important;
}*/
/*subs specific overrides - we may add child themes for these later*/
/*PGBX TEMP NEW MENU*/
.pgbx_nl .top-bar-section ul.left {
	padding-left: 0;
}
.pgbx_nl .main-nav .top-bar-section ul li a:not(.button) {
	color: #575757;
	}
.pgbx_nl #pglogo2 {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	/*width: 170px;*/
	width: 190px;
	z-index: 1005;
	background: white;
	border: solid 2px #6ba0d3;
	/*padding: 5px 10px;*/
	padding: 5px 20px;
	border-radius: 4px;
	/*width: 195px;*/

}

.pgbx_nl .main-header {
    /* height: 100px; */
    padding-top: 40px;
    padding-bottom: 10px;
    }


.pgbx_nl nav.top-bar .top-bar-section ul li > a {
	font-size: 1rem !important;
	}


.pgbx_nl #pglogo2 img {
	/*// this is just for ie*/
	height: 60px;
	/*margin-top: -50px;*/
    /*for internet explorer*/
	/*height: 100%;*/
}
.pgbx_nl .sticky-active #pglogo2 {
	/*display: none;*/
	width: 120px;
	height: 50px;
}
.pgbx_nl .sticky-active #pglogo2 img {
	margin-top: 0;
}


.pgbx_nl .top-bar-section {
	display: table;
}
.right-off-canvas-menu.expanded .top-bar-section {
	display: block;
}
.pgbx_nl > ul.left {
display: table-row;
width: 100%;
list-style: none;
}
.pgbx_nl > ul.left > li {
display: table-cell;
text-align: center;
}
.pgbx_nl > ul.left > li a {
display: block;
}
.pgbx_nl > ul.left > li:first-child {
    text-align: left;
}
.pgbx_nl > ul.left > li:last-child {
    text-align: right;
}
/*testing for mega-menu*/
@media only screen and (min-width: 64.063em) {
.pgbx_nl .top-bar-section .left .mega-menu .arrow-box {
 width: 1200px !important;
}
}

/* END PGBX TEMP NEW MENU*/
/*PGA TEMP NEW MENU*/
.pga_en .top-bar-section ul.left {
	padding-left: 0;
}
.pga_en .main-nav .top-bar-section ul li a:not(.button) {
	color: #575757;
	}
.pga_en #pglogo2 {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	/*width: 170px;*/
	width: 190px;
	z-index: 1005;
	background: white;
	border: solid 2px #6ba0d3;
	/*padding: 5px 10px;*/
	padding: 5px 20px;
	border-radius: 4px;
	/*width: 195px;*/

}

.pga_en .main-header {
    /* height: 100px; */
    padding-top: 40px;
    padding-bottom: 10px;
    }


.pga_en nav.top-bar .top-bar-section ul li > a {
	font-size: 1.2rem !important;
	}


.pga_en #pglogo2 img {
	/*// this is just for ie*/
	height: 60px;
	/*margin-top: -50px;*/
    /*for internet explorer*/
	/*height: 100%;*/
}
.pga_en .sticky-active #pglogo2 {
	/*display: none;*/
	width: 120px;
	height: 50px;
}
.pga_en .sticky-active #pglogo2 img {
	margin-top: 0;
}

/*testing for mega-menu*/
@media only screen and (min-width: 64.063em) {
.pga_en .top-bar-section .left .mega-menu .arrow-box {
 width: 1200px !important;
}
}

.pga_en .top-bar-section {
	display: table;
}

.right-off-canvas-menu.expanded .top-bar-section {
	display: block;
}
.pga_en > ul.left {
display: table-row;
width: 100%;
list-style: none;
}
.pga_en > ul.left > li {
display: table-cell;
text-align: center;
}
.pga_en > ul.left > li a {
display: block;
}
.pga_en > ul.left > li:first-child {
    text-align: left;
}
.pga_en > ul.left > li:last-child {
    text-align: right;
}

/* END PGA TEMP NEW MENU*/
/*PGAU TEMP NEW MENU*/
.pgau_en .top-bar-section ul.left {
	padding-left: 0;
}
.pgau_en .main-nav .top-bar-section ul li a:not(.button) {
	color: #575757;
	}
.pgau_en #pglogo2 {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	/*width: 170px;*/
	width: 190px;
	z-index: 1005;
	background: white;
	border: solid 2px #6ba0d3;
	/*padding: 5px 10px;*/
	padding: 5px 20px;
	border-radius: 4px;
	/*width: 195px;*/

}

.pgau_en .main-header {
    /* height: 100px; */
    padding-top: 40px;
    padding-bottom: 10px;
    }


.pgau_en nav.top-bar .top-bar-section ul li > a {
	font-size: 1rem !important;
	}


.pgau_en #pglogo2 img {
	/*// this is just for ie*/
	height: 60px;
	/*margin-top: -50px;*/
    /*for internet explorer*/
	/*height: 100%;*/
}
.pgau_en .sticky-active #pglogo2 {
	/*display: none;*/
	width: 120px;
	height: 50px;
}
.pgau_en .sticky-active #pglogo2 img {
	margin-top: 0;
}


.pgau_en .top-bar-section {
	display: table;
}
.right-off-canvas-menu.expanded .top-bar-section {
	display: block;
}
.pgau_en > ul.left {
display: table-row;
width: 100%;
list-style: none;
}
.pgau_en > ul.left > li {
display: table-cell;
text-align: center;
}
.pgau_en > ul.left > li a {
display: block;
}
.pgau_en > ul.left > li:first-child {
    text-align: left;
}
.pgau_en > ul.left > li:last-child {
    text-align: right;
}

/* END PGAU TEMP NEW MENU*/
/*PGPL TEMP NEW MENU*/
.pgpl_pl .top-bar-section ul.left {
	padding-left: 0;
}
.pgpl_pl .main-nav .top-bar-section ul li a:not(.button) {
	color: #575757;
	}
.pgpl_pl #pglogo2 {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	/*width: 170px;*/
	width: 190px;
	z-index: 1005;
	background: white;
	border: solid 2px #6ba0d3;
	/*padding: 5px 10px;*/
	padding: 5px 20px;
	border-radius: 4px;
	/*width: 195px;*/

}

.pgpl_pl .main-header {
    /* height: 100px; */
    padding-top: 40px;
    padding-bottom: 10px;
    }


.pgpl_pl nav.top-bar .top-bar-section ul li > a {
	font-size: 1rem !important;
	}


.pgpl_pl #pglogo2 img {
	/*// this is just for ie*/
	height: 60px;
	/*margin-top: -50px;*/
    /*for internet explorer*/
	/*height: 100%;*/
}
.pgpl_pl .sticky-active #pglogo2 {
	/*display: none;*/
	width: 120px;
	height: 50px;
}
.pgpl_pl .sticky-active #pglogo2 img {
	margin-top: 0;
}


.pgpl_pl .top-bar-section {
	display: table;
}
.right-off-canvas-menu.expanded .top-bar-section {
	display: block;
}
.pgpl_pl > ul.left {
display: table-row;
width: 100%;
list-style: none;
}
.pgpl_pl > ul.left > li {
display: table-cell;
text-align: center;
}
.pgpl_pl > ul.left > li a {
display: block;
}
.pgpl_pl > ul.left > li:first-child {
    text-align: left;
}
.pgpl_pl > ul.left > li:last-child {
    text-align: right;
}

/* END PGPL TEMP NEW MENU*/
/*PGCA TEMP NEW MENU*/
.pgca_en .top-bar-section ul.left {
	padding-left: 0;
}
.pgca_en .main-nav .top-bar-section ul li a:not(.button) {
	color: #575757;
	}
.pgca_en #pglogo2 {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	/*width: 170px;*/
	width: 190px;
	z-index: 1005;
	background: white;
	border: solid 2px #6ba0d3;
	/*padding: 5px 10px;*/
	padding: 5px 20px;
	border-radius: 4px;
	/*width: 195px;*/

}

.pgca_en .main-header {
    /* height: 100px; */
    padding-top: 40px;
    padding-bottom: 10px;
    }


.pgca_en nav.top-bar .top-bar-section ul li > a {
	font-size: 1rem !important;
	}


.pgca_en #pglogo2 img {
	/*// this is just for ie*/
	height: 60px;
	/*margin-top: -50px;*/
    /*for internet explorer*/
	/*height: 100%;*/
}
.pgca_en .sticky-active #pglogo2 {
	/*display: none;*/
	width: 120px;
	height: 50px;
}
.pgca_en .sticky-active #pglogo2 img {
	margin-top: 0;
}


.pgca_en .top-bar-section {
	display: table;
}
.right-off-canvas-menu.expanded .top-bar-section {
	display: block;
}
.pgca_en > ul.left {
display: table-row;
width: 100%;
list-style: none;
}
.pgca_en > ul.left > li {
display: table-cell;
text-align: center;
}
.pgca_en > ul.left > li a {
display: block;
}
.pgca_en > ul.left > li:first-child {
    text-align: left;
}
.pgca_en > ul.left > li:last-child {
    text-align: right;
}

/* END PGCA TEMP NEW MENU*/
/*PGBR TEMP NEW MENU*/
.pgbr_pt .top-bar-section ul.left {
	padding-left: 0;
}
.pgbr_pt .main-nav .top-bar-section ul li a:not(.button) {
	color: #575757;
	}
.pgbr_pt #pglogo2 {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	/*width: 170px;*/
	width: 190px;
	z-index: 1005;
	background: white;
	border: solid 2px #6ba0d3;
	/*padding: 5px 10px;*/
	padding: 5px 20px;
	border-radius: 4px;
	/*width: 195px;*/

}

.pgbr_pt .main-header {
    /* height: 100px; */
    padding-top: 40px;
    padding-bottom: 10px;
    }


.pgbr_pt nav.top-bar .top-bar-section ul li > a {
	font-size: 1rem !important;
	}


.pgbr_pt #pglogo2 img {
	/*// this is just for ie*/
	height: 60px;
	/*margin-top: -50px;*/
    /*for internet explorer*/
	/*height: 100%;*/
}
.pgbr_pt .sticky-active #pglogo2 {
	/*display: none;*/
	width: 120px;
	height: 50px;
}
.pgbr_pt .sticky-active #pglogo2 img {
	margin-top: 0;
}


.pgbr_pt .top-bar-section {
	display: table;
}
.right-off-canvas-menu.expanded .top-bar-section {
	display: block;
}
.pgbr_pt > ul.left {
display: table-row;
width: 100%;
list-style: none;
}
.pgbr_pt > ul.left > li {
display: table-cell;
text-align: center;
}
.pgbr_pt > ul.left > li a {
display: block;
}
.pgbr_pt > ul.left > li:first-child {
    text-align: left;
}
.pgbr_pt > ul.left > li:last-child {
    text-align: right;
}

/* END PGBR TEMP NEW MENU*/
/*benelux overrides*/
/*PGCO TESTING NEW MENU*/
.pgco_es .top-bar-section ul.left {
	padding-left: 0;
}
.pgco_es .main-nav .top-bar-section ul li a:not(.button) {
	color: #575757;
	}
.pgco_es #pglogo2 {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	/*width: 170px;*/
	width: 190px;
	z-index: 1005;
	background: white;
	border: solid 2px #6ba0d3;
	/*padding: 5px 10px;*/
	padding: 5px 20px;
	border-radius: 4px;
	/*width: 195px;*/

}

.pgco_es .main-header {
    /* height: 100px; */
    padding-top: 40px;
    padding-bottom: 10px;
    }


.pgco_es nav.top-bar .top-bar-section ul li > a {
	font-size: 1rem !important;
	}


.pgco_es #pglogo2 img {
	/*// this is just for ie*/
	height: 60px;
	/*margin-top: -50px;*/
    /*for internet explorer*/
	/*height: 100%;*/
}
.pgco_es .sticky-active #pglogo2 {
	/*display: none;*/
	width: 120px;
	height: 50px;
}
.pgco_es .sticky-active #pglogo2 img {
	margin-top: 0;
}


.pgco_es .top-bar-section {
	display: table;
}
.right-off-canvas-menu.expanded .top-bar-section {
	display: block;
}
.pgco_es > ul.left {
display: table-row;
width: 100%;
list-style: none;
}
.pgco_es > ul.left > li {
display: table-cell;
text-align: center;
}
.pgco_es > ul.left > li a {
display: block;
}
.pgco_es > ul.left > li:first-child {
    text-align: left;
}
.pgco_es > ul.left > li:last-child {
    text-align: right;
}

/* END PGCO TESTING NEW MENU*/

/*PGMX TESTING NEW MENU*/
.pgmx_es .top-bar-section ul.left {
	padding-left: 0;
}
.pgmx_es .main-nav .top-bar-section ul li a:not(.button) {
	color: #575757;
	}
.pgmx_es #pglogo2 {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	/*width: 170px;*/
	width: 190px;
	z-index: 1005;
	background: white;
	border: solid 2px #6ba0d3;
	/*padding: 5px 10px;*/
	padding: 5px 20px;
	border-radius: 4px;
	/*width: 195px;*/

}

.pgmx_es .main-header {
    /* height: 100px; */
    padding-top: 40px;
    padding-bottom: 10px;
    }


.pgmx_es nav.top-bar .top-bar-section ul li > a {
	font-size: 1rem !important;
	}


.pgmx_es #pglogo2 img {
	/*// this is just for ie*/
	height: 60px;
	/*margin-top: -50px;*/
    /*for internet explorer*/
	/*height: 100%;*/
}
.pgmx_es .sticky-active #pglogo2 {
	/*display: none;*/
	width: 120px;
	height: 50px;
}
.pgmx_es .sticky-active #pglogo2 img {
	margin-top: 0;
}


.pgmx_es .top-bar-section {
	display: table;
}
.right-off-canvas-menu.expanded .top-bar-section {
	display: block;
}
.pgmx_es > ul.left {
display: table-row;
width: 100%;
list-style: none;
}
.pgmx_es > ul.left > li {
display: table-cell;
text-align: center;
}
.pgmx_es > ul.left > li a {
display: block;
}
.pgmx_es > ul.left > li:first-child {
    text-align: left;
}
.pgmx_es > ul.left > li:last-child {
    text-align: right;
}

/* END PGMX TESTING NEW MENU*/


/*PGMX overrides*/
.pgmx_es .top-bar-section ul.right {
	padding-right: 0;
}
/*hide available for online order for now*/
.pgmx_es #layered-navigation .last {
	display: none;
}

@media only screen and (min-width: 64.063em) {
.pgbx_nl .top-bar-section ul.left li {
	margin-right: 0;
	}
}
.pgbx_nl #layered-navigation .last {
	display: none;
}
/*poland overrides*/

/*.pgpl_pl .top-bar-section ul li a {
	font-size: 1.1rem !important;
}*/
.pgpl_pl .main-header.sticky-active .head-row ul li a {
    font-size: 1rem !important;
}

.pgpl_pl .main-header.sticky-active .top-bar-section ul > li a.level0.has-children {
	font-size: 1rem !important;
}

@media only screen and (min-width: 64.063em) {
.pgpl_pl .mega-menu > ul > li {
    width: 25% !important;
}
/*.pgau_en .mega-menu > ul > li {
    width: 25% !important;
}*/
/*.pga_en .mega-menu > ul > li {
    width: 25% !important;
}*/
}
/*.pgpl_pl .top-bar-section ul.left li {
	margin-right: 0;
}*/
/*.pgpl_pl .main-header.sticky-active .top-bar-section ul.left li {
	margin-right: 60px;
}*/
/*.pgpl_pl .main-header.sticky-active .top-bar-section ul.right li {
	margin-right: 60px;
}*/
.pgpl_pl #layered-navigation .last {
	display: none;
}
/*testing store view override - australia */
.pgau_en #layered-navigation .last {
	display: none;
}
.pgau_en .product-shop-side {
    max-width: none;
 }
.pgau_en .buybox a.button {
 	padding: 20px;
 } 
 .pgau_en .buybox a.button i {
 	padding-right: 10px;
    font-size: 20px;
    vertical-align: text-bottom;
 }
h1.online-intro {
	margin-top: 30px;
}
.subcategory-top-block {
	margin-top: 15px;
	font-weight: 700;
}

.top-bar-section .menu-item.menu-item-1555 {
    border: 1px solid white;
    padding: 0;
    margin-top: 5px;
}


.top-bar-section .menu-item.menu-item-1555 a {
    font-size: .8rem;
}

#top-banner-container {
	background: url(../images/WhiteBackground.jpg);
    background-repeat: repeat-x;
    background-position: center center;
    /*height: 267px;*/
 }
 .category-products .head-banner {
	background: url(../images/PRODUCTS_GELATO_Header_iso.png);
    background-position: center center;
    background-repeat: no-repeat;
    height:267px;
}
.category-gelato-sorbetto .head-banner {
	background: url(../images/PRODUCTS_GELATO_Header_iso.png);
    background-position: center center;
    background-repeat: no-repeat;
    height:267px;
}
.category-soft-serve .head-banner {
	background: url(../images/PRODUCTS_SOFTSERVE_Header_iso.png);
    background-position: center center;
    background-repeat: no-repeat;
    height:267px;
}
.category-pastry-confections .head-banner {
	background: url(../images/PRODUCTS_PASTRY_Header_iso.png);
    background-position: center center;
    background-repeat: no-repeat;
    height:267px;
}
.category-specialty-beverages .head-banner {
	background: url(../images/PRODUCTS_SPECIALTYBEVERAGES_Header_iso.png);
    background-position: center center;
    background-repeat: no-repeat;
    height:267px;
}
.category-service .head-banner {
	background: url(../images/PRODUCTS_SERVICE_Header_iso.png);
    background-position: center center;
    background-repeat: no-repeat;
    height:267px;
}

#lightbox2 {
	position: fixed;
}
.form-box.wide .custom-attr-fields .form-list .field {
	width: 90%;
}
.qquoteadv-index-index.mdformfields .validation-advice {
	position: relative;
}
.availability {
	margin-right: 20px;
}
.header-miniquote span.count {
	color: #FFF;
}
.category-products .availability.out-of-stock {
	/*top: 30px;*/
	position: relative;
}
/*add to quote buttons*/
.category-products .actions .btn-quote {
    float: left;
    border: none;
    background: transparent;
    color: #999999;
    font-size: 0.750rem;
    font-weight: 600 !important;
    line-height: 2.5rem;
    margin: 0;
    padding: 0;
    transition: color 300ms ease-out;
}
section.featured-slider .actions .btn-quote:before, .category-products .actions .btn-quote:before {
    font-family: intenso;
    content: "\e619";
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 2rem;
    color: #cecece;
    padding: 0 4px 4px 0;
    vertical-align: middle;
    transition: color 300ms ease-out;
    }

.widget-new-products .products-grid {
	padding-bottom:20px;
}
/*custom products labels*/
.fivestar_label span {
	/*width: 61px;
	height: 35px;*/
	width: 90px;
	height: 47px;
}

.orbit-wrapper {
	height: 267px;
}

/*New Products section products home page*/
#new-prod-section {
	background: #deeaf7;
	padding-bottom: 40px;
}
.widget-new-products .widget-title h2 {
	color: #5091cd;
	font-size: 1.5rem;
    margin-top: 20px;
}
.widget-new-products h3.product-name {
	margin-left: 10px;
}
.widget-new-products .price-box {
	margin-left: 10px;
}
.widget-new-products .price-box span.price {
	display: none;
	}
.widget-new-products .widget-products ul.products-grid {
	background:  #deeaf7;
}
.widget-new-products .widget-products ul.products-grid li a img {
	margin: 0 auto;
	}



/*Custom Featured Category slider */
section.featured-slider.pg_custom_category li.active-cat .category-title {
	background: rgba(106, 160, 210, 1);
}
section.featured-slider.pg_custom_category li.active-cat .category-title a {
	color: #FFF;
	}

@media only screen and (min-width: 64.063em) {
section.featured-slider.pg_custom_category li.active-cat .category-title {
	background: rgba(106, 160, 210, 1);
    top: 0;
    bottom: 0;
    padding-top: 100px;
}
section.featured-slider.pg_custom_category .category-title a {
display: inline-block;     
position: relative;    
z-index: 1;     
padding: 2.5em;     
margin: -2.5em; 
}

section.featured-slider.pg_custom_category ol {
	padding: 0;
}
section.featured-slider.pg_custom_category .category-title {
	position: absolute;
	/*top: 100px;*/
	/*top: 0;
	bottom: 0;*/
	/*top: 30%;
	bottom: 30%;*/
	top: 40%;
	bottom: 35%;
	/*padding-top: 100px;*/
	/*padding-top: 30px;*/
	padding-top: 15px;
	text-align: center;
	width: inherit;
	background: rgba(106, 160, 210, 0.8);
	font-size: 1rem;
}
section.featured-slider.pg_custom_category .category-title a {
	color: #FFF;
	font-size: 1.1rem;
}
}


.pg-alert {
	min-height: 50px;
	background: #6ba0d3;
	padding-right: 150px;
}
.pg-alert h2, .pg-alert p {
	color: #fff;
}
.pg-alert a {
	color: #fff;
	text-decoration: underline;
}
#pg-alert {
	position: relative;
}
#pg-alert .close {
	font-size: 14px;
	line-height: 40px;
	position: absolute;
	top:10px;
	right:10px;
	color: #fff;
	text-decoration: none;
	opacity: 0.8;
}
#pg-alert .close:hover {
	opacity: 1;
}
#pg-alert .close span {
	font-size: 40px;
}
.tax-required {
	background: yellow;
}

.row.back-link {
	padding-top: 10px;
	padding-bottom: 10px;
}
.row.category-description {
	padding-bottom: 30px;
}
/*cart 2 qoute overrides - move these to proper place later*/
/*position grid button next to each other*/
li.isotope-item .btn-cart {
	width: 50%;
}
li.isotope-item .actions {
	min-height: 6rem;
}

body {
	/*font-family: "freight-sans-pro", sans-serif;*/
	/*font-family: "proxima-nova-extra-condensed", sans-serif;*/
	font-family: "proxima-nova", sans-serif;
	-webkit-font-smoothing: antialiased;
}

body.category-products {
	margin: 0;
}

body.es_es #histogram .stars {
	width: 4rem !important;
}

body.es_es #select_language_chosen.chosen-container-active .chosen-single span:before,
body.es_es #select_language_chosen.chosen-container .chosen-single span:before {
	content: 'Idioma: ';
}
body.es_es #select_currency_chosen.chosen-container-active .chosen-single span:before,
body.es_es #select_currency_chosen.chosen-container .chosen-single span:before {
	content: 'Moneda: ';
}

/*this custom row is here for mobile*/
.head-row {
	/*max-width: 1440px;*/
	max-width: 1280px;
	margin: 0 auto;
}
/*sticky nav bar*/
.main-header.sticky-active .head-row {
	max-width: none;
}
.main-header.sticky-active .head-row ul li a {
	font-size: 1.2rem !important;
	}
.main-header.sticky-active .head-row ul li ul li a {
	font-size: 1rem !important;
	}
.main-header.sticky-active .head-row li.logo-fixed {
	display: none;
}

/*ACCOUNT REGISTRATION FORM*/
fieldset.amcustomerattr span.field-row label {
	position: relative;
	top: 0;
}

/*BREADCRUMBS*/
.breadcrumbs-wrapper {
	background: #fff !important;
}
.breadcrumbs ul li {
	font-size: 1rem !important;
}
/*.main-header.sticky-active .top-bar-section ul > li a.level0.has-children {
	font-size: 1.8rem !important;
}*/
.sticky-active #pglogo {
	/*display: none;*/
	width: 120px;
	height: 50px;
}
#pglogo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	/*width: 170px;*/
	width: 195px;
}
#pglogo img {
	margin-top: -10px;
    /*for internet explorer*/
	height: 100%;
}
.sticky-active #pglogo img {
	margin-top: 0;
}
.main-header.sticky-active .top-bar-section ul.right > li:first-child, .main-header.sticky-active .top-bar-section ul.left li.last {
    display: block !important;
}
.main-header {
	height:100px;
	padding-top: 20px;
}

.form-language {
	float: left;
}
select#select-language {
	margin-bottom: 0;
}
/*.notice-bar {
	background: #c7dff3;
	border-top: 4px solid #5091cd;
	border-bottom: 4px solid #5091cd;
}
.notice-bar .row {
	max-width: none;
}
.notice-bar label {
	color: #fff;
}
.notice-bar .form-search {
	float: right;
	margin: 0 auto;
	height: 30px;
}
.notice-bar .form-search .action {
	float: right;
	width: 40px;
	}
.notice-bar .form-search .search-box {
	margin-right: 40px;
}
.notice-bar #search_mini_form {
	margin:0;
}
.notice-bar form {
	margin:0;
}*/
/*make it match wordpress menu*/
#pg-top-bar {
	background: #6ba0d3;
	position: relative;
	z-index: 1001 !important;
	/*margin-bottom: 20px;*/
	height: 45px;
}
#pg-top-bar .row {
	max-width: none;
	width: 100%;
}

#pg-top-bar .top-bar-section ul li > a {
	background: none;
}
.top-bar .form-search {
     margin: 0; 
}

/*1280 squeeze just before switch to mobile menu at 1024*/
@media only screen and (max-width: 80em){
#pg-top-bar .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 5px;
}
.top-bar-section ul.right li > a {
    font-size: 0.8rem;
}
.top-bar .sup {
	font-size: 0.6rem;
}
.form-language {
	width: 150px;
}
.top-bar-section ul.right.pgbar-cart  li {
	margin-left: 0;
}
#pglogo {
	width: 160px;
}
nav.top-bar .top-bar-section ul li > a {
	font-size: 1.3rem !important;
}
/*.search-box label {
	display: none;
}*/
}

.more-links .dropdown {
	background: #fff !important;
	margin-top: 9px;
}
.more-links .dropdown li a {
	color: #8a8a8a;
	}

#pg-top-bar .top-bar-section ul.more-links li a:hover {
	color: #deeaf7 !important;
}
.top-bar-section ul li > a:hover {
	color: #deeaf7 !important;
}

/*.main-nav .top-bar-section ul {
    background: #fff;
}
.top-bar-section ul.right li ul li {
    border-left: 4px solid #fff;
}
.top-bar-section ul.right li ul li:hover {
    border-left: 4px solid #5091cd;
}

.top-bar-section ul.left li.reg ul li a {
    font-size: 0.937rem;
    font-weight: 400;
}

.top-bar-section .has-dropdown.mega-menu > a:after {
    top: 20px;
}
.top-bar-section .has-dropdown > a:after, .top-bar-section .has-dropdown-for-large > a:after {
    top: 30px;
}*/
.top-bar-section {
	/*margin-top: 8px;*/
}

.sticky-active .top-bar-section {
	margin-top: 0;
}

.top-bar-section .left .custom-dropdown ul {
	width: 300px !important;
}

.top-bar-section ul li ul.dropdown li a {
	color: #444444 !important;
}
.top-bar-section ul li ul.dropdown li a:hover {
	color: #5091cd !important;
}

.top-bar-section ul li ul.account-dropdown .bg-box a, .top-bar-section ul li ul.cart-dropdown .bg-box a {
	color: #FFF !important;
}
.top-bar-section ul li ul.account-dropdown .bg-box p.small a {
	color: #6ba0d3 !important;
}
.top-bar-section ul li ul.account-dropdown .bg-box a:hover, .top-bar-section ul li ul.cart-dropdown .bg-box a:hover {
	color: #deeaf7 !important;
}

.top-bar-section ul li.custom-dropdown ul li a:hover {
	color: #5091cd !important;
}




.off-canvas-wrap {
	max-width: 100%;
}
.row .off-canvas-wrap {
	max-width: 100%;
}
.inner-wrap {
	/*max-width: 1200px;*/
	max-width: 100%;
	/*margin: 0 auto;*/
}
/*.row {
	max-width: 1200px;
}*/
.top-bar .row {
	max-width: 1200px;
}
.sticky-active .top-bar .row {
	max-width: none;
}
header .row {
	padding-left: 0;
	padding-right: 0;
}
.main-header .row {
	padding: 0;
}
.main-header #pg-top-bar .row {
	padding: 0;
	max-width: none;
	width: 100%;
}
/*styles for offcanvas menu right*/
/*@media only screen and (max-width: 40em) {*/
	@media only screen and (max-width: 64em) {
.main-logo-small {
	 margin: 0;
}
 /* background color of the offcanvas menu */
 .right-off-canvas-menu.main-nav,
 .top-bar, .top-bar-section ul, .top-bar-section ul li>a,
 .right-off-canvas-menu.main-nav .dropdown li a:not(.button),
 .right-off-canvas-menu.main-nav .dropdown ul.dropdown,
 .main-nav .name {
  background: #6ba0d3 !important;
 }

 /* color of the divisor lines */
 .top-bar-section li,
 .top-bar-section li.group-title {
  border-color: #deeaf7;
 }

 /* links color */
 .main-nav .top-bar-section ul li a,
 .main-nav .top-bar-section ul li.level0:hover a {
  color: #FFF !important;
 }

 /* background color on hover */
 .main-nav .top-bar-section ul li:hover a,
 .main-nav .top-bar-section ul.left li ul li:hover > a:not(.button) {
  background: #a3c6e3 !important;
 }

 /* links color on hover */
 .main-nav .top-bar-section ul li:hover a,
 .main-nav .top-bar-section ul li.level0.has-dropdown:hover > a,
 .main-nav .top-bar-section ul.left li ul li:hover > a:not(.button) {
  color: #deeaf7 !important;
 }

 /* arrows color */
 .top-bar-section .has-dropdown > a:before,
 .top-bar-section .has-dropdown > a:after {
  color: #FFF !important;
 }

 /* arrow color on hover */
 .top-bar-section .has-dropdown:hover > a:before,
 .top-bar-section .has-dropdown:hover > a:after {
  color: #deeaf7 !important;
 }

 .top-bar-section .has-dropdown.moved > .dropdown {
        box-shadow: none;
 }
 .top-bar-section li.group-title {
 	background: #deeaf7;
 	color: #636466;
 }
 .form-search label {
 	color: #FFF;
 }
 .top-bar-section li span {
 	color: #FFF;
 }
 .form-search .button span {
 	color: #FFF;
 }
}


/*for offcanvas filter -left side*/
/*@media only screen and (max-width: 40em) {*/
	/*makrmark*/
@media only screen and (max-width: 64em) {
.left-off-canvas-menu.layered-nav-container {
	background: #6ba0d3 !important;
	}
}

/*@media only screen and (min-width: 40.063em) {*/
@media only screen and (min-width: 64.063em) {
.main-nav .top-bar-section ul {
    background: #fff;
}
.top-bar-section ul.right li ul li {
    border-left: 4px solid #fff;
}
.top-bar-section ul.right li ul li:hover {
    border-left: 4px solid #5091cd;
}

.top-bar-section ul.left li.reg ul li a {
    font-size: 0.937rem;
    font-weight: 400;
}

.top-bar-section .has-dropdown.mega-menu > a:after {
    top: 20px;
}
.top-bar-section .has-dropdown > a:after, .top-bar-section .has-dropdown-for-large > a:after {
    top: 30px;
}
.top-bar-section ul.left {
    padding-left: 2.3%;
}
/*push them over to match wp site, then zero out subs*/
.top-bar-section ul.left li {
	margin-right: 25px;
	}
.top-bar-section ul.left li ul li {
	margin-right: 0;
	}
.top-bar-section ul.right li {
	margin-left: 18px;
	}
.top-bar-section ul.right li ul li {
	margin-left: 0;
	}

.top-bar-section .left .mega-menu ul li ul li a {
	font-size: 1rem !important;
}
.main-header.sticky-active .top-bar-section ul > li a.level0.has-children {
	/*font-size: 1.8rem !important;*/
	font-size: 1.2rem !important;
}
.top-bar-section .right li .dropdown {
	right: -50px;
	}


.top-bar-section ul li ul.dropdown li a {
	font-size: 1rem !important;
}

.top-bar-section ul li.mega-menu ul.dropdown li a {
	font-size: 1.5rem !important;

}
.top-bar-section ul li.mega-menu ul.dropdown li ul li a {
	font-size: 1rem !important;
}
nav.top-bar ul li > a {
	font-family: "futura-pt", sans-serif;
	font-size:  1.5rem !important;
	text-transform: uppercase !important;
}
/*mega menu column width - 5 wide*/
.mega-menu > ul > li {
	width: 20% !important;
}
}

/*hero banner styles*/
/*.orbit-container {
	max-height: 270px !important;
	max-height: 300px !important;
}*/
/*.hero .hero-text {
	width: 100%;
	margin: 0;
}*/
.item-orbit img {
	margin: 0 auto;
}
.hero h1 {
	font-family: "futura-pt", sans-serif;
}
section.featured-slider {
	margin: 0 auto;
	overflow: hidden;
}

/*over ride breadcrumbs and featured cat slider*/
.catalog-category-view .breadcrumbs-wrapper {
	background: #ffffff;
}
.featured-slider.featured-categories-section {
	border: 2px solid #f4f4f4;
}

section.featured-slider .category-images {
	border: 2px solid #f4f4f4;
}

@media only screen and (min-width: 64.063em){
	section.products-grid {
		overflow: hidden;
		/*force isotope grid to page width*/
		/*width: 1440px;*/
		max-width: 1280px;
		margin: 0 auto;
	}
}
/*@media only screen and (min-width: 84.063em){
#top-banner-container {
		background: #deeaf7;
	}
}*/

/*this is to line up the mobile slider menu*/
/*.row, .off-canvas-wrap {
	min-width: 200px;
}*/
/*
.off-canvas-wrap {
	margin: 0;
	width: 100%;
	max-width: 100%;
	box-shadow: none;
}
.inner-wrap {
	width: 1440px;
	margin: 0 auto;
}*/

#second-top-bar-menu {
	background-color: #444;
    background-image: url(../images/chevron-thin-down.png);
    /* background-position:  98% 50%; */
    background-position: right 30px top 10px;
    background-repeat: no-repeat;
	border-bottom: 10px solid #5191cd;
	height: 45px;
	padding: 6px 0;
	overflow: hidden;
    -webkit-transition: height 0.5s ease-out 0.2s;
    -moz-transition: height 0.5s ease-out 0.2s;
    transition: height 0.5s ease-out 0.2s;
}

ul.loc-menu li.loc-title {
	color: #fff;
    font-size: 1rem;
    opacity: 0.5;
    font-weight: 700;
    margin-bottom: 6px;
}
ul.loc-menu li.loc-title:hover {
	opacity: 1;
}

ul.top-simple-menu {
	list-style: none;
	text-align: left;
}
ul.top-simple-menu a {
		padding:0;
}
ul.top-simple-menu li {
		display: inline-block;
		padding: 0 30px;
		vertical-align: top;
		font-weight: 700;
}
ul.top-simple-menu li ul {
			display: block;
}
ul.top-simple-menu li ul li {
				display: block;
				font-weight: 400;
				padding: 0;   	
}
ul.loc-menu ul {
	margin-left: 0;
	margin-right: 20px;
}

#second-top-bar-menu .row {
	/*margin-right: 0;
	margin-left: 0;*/
	/*padding-right: 0;
	padding-left: 0;*/
	max-width: none;
}

#second-top-bar-menu:hover { 
	height: 160px; 
	background-image: url(../images/chevron-thin-up.png);
}

#second-top-bar-menu ul li {
	color: #fff;
}

#second-top-bar-menu ul li a {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    opacity: 0.5;
    text-shadow: none;
}
#second-top-bar-menu ul li a:hover {
	opacity: 1;
	}
#pg-top-bar.top-bar .sup {
	color: #fff;
}
#pg-top-bar ul {
	background: transparent;
}
#pg-top-bar .top-bar-section li:not(.has-form) a:not(.button) {
	background: transparent;
}
#pg-top-bar .top-bar-section li:not(.has-form) a:not(.button):hover {
	background: transparent;
}
#pg-top-bar .form-search .input-text {
	background: #fff !important;
	height: 30px;
	}
.loc-title {
	color: #fff;
}
.loc-title:hover {
	color: #444;
}
.form-search {
	height: 30px;
}
#pg-top-bar .chosen-container-single .chosen-single {
	background: #fff;
	}
/* this is for the contact button top bar call out */

/*#second-top-bar-menu ul li#menu-item-177 a {
	padding: 4px 20px;
	background: #5091cd;
	color: #fff;
	opacity:1;
}*/
.secondary-top-bar-right {
	float: right;
}

h3 {
	font-family: "futura-pt", sans-serif;
}

/*nav.top-bar ul li > a {
	font-family: "futura-pt", sans-serif;
	font-size:  1.5rem !important;
	text-transform: uppercase !important;
}*/

/*.top-bar-section .right li .dropdown {
	right: -50px;
	}

.top-bar-section ul li ul.dropdown li a {
	font-size: 1rem !important;
}

.top-bar-section ul li.mega-menu ul.dropdown li a {
	font-size: 1.5rem !important;

}
.top-bar-section ul li.mega-menu ul.dropdown li ul li a {
	font-size: 1rem !important;
}*/

/*category overrides*/
.category-image { 
	margin: 0;
}
/*category customizations*/
h3#category-name {
	font-family: "futura-pt", sans-serif;
	color: #5091cd;
	/*font-size: 2.5rem;*/
	font-size: 2rem;
	line-height: 2rem;
	margin-top: 20px;
}
#product-bar {
    background: #c7dff3;
    border-bottom: 20px solid #5191cd;
    border-top: 20px solid #5191cd;
}
#product-bar h3 {
    padding-top: 60px;
    font-size: 3rem;
    line-height: 2.5rem;
}
#product-bar .link {
    height: 160px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 130px;
    border-right: 3px solid #fff;
}
#product-bar .gelato {
	background-image: url(../images/icon-test.png);
}
#product-bar .pastry {
	background-image: url(../images/pastry-test.png);
}
#product-bar .froyo {
	background-image: url(../images/froyo-test.png);
}
#product-bar .froyo h3 {
	padding-top: 30px;
}
#product-bar .froyo h3 span {
	font-size: 1.8rem;
	line-height: 1rem;
}
#product-bar .bev {
	background-image: url(../images/froyo-test.png);
	border-right: none;
}
/*
PRODUCTS DETAIL PAGE
*/
/*mobile products box*/
/*switching to mobile at medium*/
/*@media only screen and (max-width: 40em) {*/
@media only screen and (max-width: 64em) {
.mobile-gallery .orbit-container {
    overflow: hidden;
}
.category-products .item {
	width: 100%;
}

}
/*make thumbnails on left of large image*/

.product-img-box .more-views {
	width: 20%;
	float: left;
}
.product-img-box figure {
	width: 80%;
	float: right;
}
.product-img-box .more-views li {
    display: block;
}
.product-img-box .more-views li a, .product-img-box .more-views li img {
    display: block;
    width: 100px;
    height: 100px;
}
.product-img-box .more-views li {
    width: 106px;
    height: 106px;
}

.button.expand.btn-recipe {
	padding-left: 30px;
	padding-right: 30px;
}

.btn-recipe:before {
    font-family: intenso;
    content: "\e6bf";
    font-size: 1.1rem;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    position: absolute;
    left: 0.563rem;
}

#pg-prod-img-box {
	margin-bottom: 50px;
	float: left;
}
/*related products slider*/
.product-img-box .featured-slider.related {
	padding-top: 10px;

}
.product-img-box .featured-slider.related h3 {
	text-transform: uppercase;
}
.product-img-box .featured-slider.related .featured-prev, .product-img-box .featured-slider.related .featured-next {
	top: 100px;
	}
.product-img-box .featured-slider.related {
	background: #f4f4f4;
}
.pg-code {
	margin-top: 10px;
}
span.att-label {
	font-weight: 700;
	text-transform: uppercase;
}
.top-label {
	display: block;
}


.certifications {
	margin-bottom: 20px;
}

.certifications img {
	/*width: 70px;*/
	height: 70px;
}
.certifications p {
	margin-bottom: 0;
}
.pg-certification-box {
	display: inline-block;
	padding: 10px;
}
.pg-certification-box img {
	display: block;
	margin: 0 auto;
	}
.pg-certification-box span {
	display: block;
	font-weight: 700;
	}
.buybox .add-to-cart .btn-quote {
	width: 100%;
}
.buybox .add-to-cart .btn-quote:before {
    font-family: intenso;
    content: "\e603";
    font-size: 1.1rem;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    position: absolute;
    left: 0.563rem;
 }
 .catalog-callout {
 	padding: 10px;
 	background: #f4f4f4;
 	margin-top: 10px;
 }


/*override padding on featured categories featured-slider*/
/*.catalog-category-view section.featured-slider .category-images a {
     padding-top: 100%; 
}*/

/*.main-footer {
	background: #444;
}
.footer-links {
	background:none;
}
.footer-links .h-links-list li a {
	color: #fafafa !important;
}
.footer-bottom {
	background: none;
}*/
/*********************
FOOTER STYLES ( taken from WP theme )
*********************/
.footer {
  background: #fefefe;
  color: #6ba0d3;
  border-top: #6ba0d3 solid 4px;
  padding-top: 1rem; }
  .footer #subsidiaries-row {
    border: #a3c6e3 solid 2px;
    border-radius: 1%; }
    .footer #subsidiaries-row #global-img {
      width: 2rem;
      height: 2rem;
      background-image: url(../images/GLOBE_ICON-05.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0; }
    .footer #subsidiaries-row #global-text {
      font-size: 1rem;
      margin: .35rem auto; }
  /*.footer #call-to-action-row input {
    background-color: #deeaf7;
    border: #a3c6e3 solid 1px; }*/
  .footer #menu-footer {
    display: inline-block; }
    .footer #menu-footer a {
      color: #6ba0d3;
      font-family: "futura-pt", sans-serif;
      font-size: 16px; }
  .footer ul.footer-social {
    list-style: none; }
    .footer ul.footer-social li {
      display: inline-block; }
      .footer ul.footer-social li a {
        font-size: 3em;
        color: #6ba0d3; }
      .footer ul.footer-social li a:hover {
        opacity: 0.9; }
  .footer ul.footer-links {
    list-style: none; }
    .footer ul.footer-links li {
      display: block; }
      .footer ul.footer-links li a {
        font-size: 1.25em;
        color: #6ba0d3; }
      .footer ul.footer-links li a:hover {
        opacity: 0.9; }

#bottom-footer {
  background: #a3c6e3;
  color: #fefefe; }
  #bottom-footer #footer-contact-info {
    font-size: small; }
    #bottom-footer #footer-contact-info p {
      border-right: white solid 1px;
      margin-bottom: 0.5rem;
      color: #fff; }
    #bottom-footer #footer-contact-info p:last-child {
      border-right: none; }
  #bottom-footer #copyright {
    font-size: small; }

/*media queries from https://css-tricks.com/snippets/css/media-queries-for-standard-devices*/
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  	.featured-slider {
		display:none;
	}

}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.featured-slider {
		display:none;
	}
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.featured-slider {
		display:none;
	}
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
	.featured-slider {
		display:none;
	}
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.featured-slider {
		display:none;
	}
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.featured-slider {
		display:none;
	}
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
  	.featured-slider {
		display:none;
	}

}

@media only screen (max-width: 667) {
	.featured-slider {
		display:none;
	}
}

/*custom media queries*/
@media only screen and (min-width: 1440px) {
.pgmx_es nav.top-bar .top-bar-section ul li > a {
	font-size: 1.2rem !important;
	}
.pgco_es nav.top-bar .top-bar-section ul li > a {
	font-size: 1.2rem !important;
	}
.pgbr_pt nav.top-bar .top-bar-section ul li > a {
	font-size: 1.2rem !important;
	}
.pgca_en nav.top-bar .top-bar-section ul li > a {
	font-size: 1.2rem !important;
	}
.pga_en nav.top-bar .top-bar-section ul li > a {
	font-size: 1.2rem !important;
	}
.pgau_en nav.top-bar .top-bar-section ul li > a {
	font-size: 1.2rem !important;
	}
.pgpl_pl nav.top-bar .top-bar-section ul li > a {
	font-size: 1.2rem !important;
	}
.pgbx_nl nav.top-bar .top-bar-section ul li > a {
	font-size: 1.2rem !important;
	}
}